<section class="secCol2" id="bloque-calculo">
  <div class="container">
    <h3>¿Querés hacer un envío?</h3>
    <input type="text" id="peso" placeholder="Peso kg" name="Peso" />
    <select title="opcionPeso" name="" id="">
      <option value="">Tipo de Envio</option>
      <option value="">A Ligero</option>
      <option value="">B Pesado</option>
      <option value="">C Express</option>
    </select>
    <select title="opcionSucursal" name="" id="">
      <option value="">Salida</option>
      <option value="">Sucursal Ushuaia</option>
      <option value="">Sucursal Narnia</option>
      <option value="">Sucursal Alaska</option>
    </select>
    <select title="opcionDestino" name="" id="">
      <option value="">Destino</option>
      <option value="">Sucursal Antártida</option>
      <option value="">Sucursal Fosa de las Marianas</option>
      <option value="">Sucursal Júpiter</option>
    </select>
    <input type="text" placeholder="Precio" name="Precio" required />
    <form action="">
      <button type="submit" onclick="return enviarCalculo();">Calcular</button>
      <p class="errorE" id="errorE"></p>
    </form>
  </div>
</section>
