<footer>
    <div>
      <ul class="dudas">
        <li>¿Que necesitas saber?</li>
        <li><a href="seguimiento"> Seguir un envío</a></li>
        <li><a href="sucursales">Sucursales</a></li>
        <li><a href="calculadora">Costo de envio</a></li>
      </ul>
      <ul class="nosotros">
       <li> Nosotros</li>
        <li><a href="byters.html">La empresa</a></li>
        <li><a href="curriculum.html">Trabaja con nosotros</a></li>
        <li><a href="servicios">Servicios</a></li>
      </ul>
      <ul class="ayuda">
        <li>Ayuda</li>
        <li><a href="Frontend/preguntas-frecuentes.html"> Preguntas frecuentes</a></li>
        <li>0800-XXX-XXXX</li>
        <li>atenciondigital@byters.com</li>
      </ul>
    </div>
    <div class="redes">
      Nuestras redes
      <a title="facebook" href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#" title="twiter"><i class="fa-brands fa-twitter"></i></a>
      <a href="#" title="ig"><i class="fa-brands fa-instagram"></i></a>
    </div>
  </footer>