<nav>
  <input title="check" type="checkbox" name="check" id="check" />
  <label for="check" class="checkbtn">
    <div class="hamburguesa" (click)="onMenu()">
      <div class="lines" [class.l1]="menu"></div>
      <div class="lines" [class.l2]="menu"></div>
      <div class="lines" [class.l3]="menu"></div>
    </div>
  </label>
  <ul>
    <li><a class="" href="">Inicio</a></li>
    <li><a href="seguimiento">Seguimiento</a></li>
    <li><a href="calculadora">Calculadora</a></li>
    <li><a href="sucursales">Sucursales</a></li>
    <li><a href="contacto">Contacto</a></li>
    <li><a href="servicios">Servicios</a></li>
    <li><a href="carrito">Carrito</a></li>
  </ul>
</nav>
