<nav>
  <input title="check" type="checkbox" name="check" id="check" />
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <ul>
    <li><a class="" href="">Inicio</a></li>
    <li><a href="seguimiento">Seguimiento</a></li>
    <li><a href="calculadora">Calculadora</a></li>
    <li><a href="sucursales">Sucursales</a></li>
    <li><a href="contacto">Contacto</a></li>
    <li><a href="servicios">Servicios</a></li>
    <li *ngIf="!estado && !isStaffUser"><a href="carrito">Carrito</a></li>
    <li *ngIf="!estado && isStaffUser"><a href="admin">Dashboard</a></li>
    <li *ngIf="!estado && !isStaffUser"><a href="user">Dashboard</a></li>
  </ul>
</nav>
