<section class="secCol3">

   <div id="llamada"><h2 id="text">¿Necesitas enviar un paquete?</h2><br><br></div>
   <div id="accion"><br><br><p>Ya sea que necesites enviar paquetes pequeños, mercancía comercial o productos voluminosos, en FrontLine Envíos estamos preparados para cumplir con tus requerimientos. Nos encargamos de cada detalle para asegurarnos de que tus envíos lleguen en perfectas condiciones y a tiempo.</p> 
   <a href="servicios"><button type="submit">Quiero Enviar</button></a></div>

</section>

