<section class="secCol3">
  <div class="card">
    <h4>Nombre del Servicio</h4>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla vero
      expedita quo! At provident nostrum consectetur odit, explicabo praesentium
      numquam culpa
    </p>
    <h5>$XXXX.XX</h5>
    <button type="submit"><a href="carrito">Contratar</a></button><br />
  </div>
  <div class="card">
    <h4>Nombre del Servicio</h4>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla vero
      expedita quo! At provident nostrum consectetur odit, explicabo praesentium
      numquam culpa
    </p>
    <h5>$XXXX.XX</h5>
    <button type="submit"><a href="carrito">Contratar</a></button><br />
  </div>
  <div class="card">
    <h4>Nombre del Servicio</h4>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla vero
      expedita quo! At provident nostrum consectetur odit, explicabo praesentium
      numquam culpa
    </p>
    <h5>$XXXX.XX</h5>
    <button type="submit"><a href="carrito">Contratar</a></button><br />
  </div>
</section>
