<section>
  <h3>Registro de Compra</h3>

  <form [formGroup]="carritoForm" action="" class="container">
    <label for="servChoice">Servicio: </label>
    <select formControlName="servChoice" id="servChoice" name="servChoice">
      <option
        *ngFor="let servicios of serv"
        value="{{ servicios.precio_kg_km }}"
      >
        {{ servicios.nombre_servicio }}
      </option>
    </select>
    <br /><br />
    <label for="sucursalInicio">Sucursal de Inicio:</label>
    <select
      formControlName="sucursalInicio"
      id="sucursalInicio"
      name="sucursalInicio"
    >
      <option *ngFor="let ciudad of sucursales" value="{{ ciudad.id }}">
        Sucursal {{ ciudad.nombre }}
      </option>
    </select>
    <br /><br />
    <label for="sucursalFinal">Sucursal de Destino:</label>
    <select
      formControlName="sucursalFinal"
      id="sucursalFinal"
      name="sucursalFinal"
    >
      <option *ngFor="let ciudad of sucursales" value="{{ ciudad.id }}">
        Sucursal {{ ciudad.nombre }}
      </option>
    </select>
    <br /><br />
    <div class="d-flex justify-content-between" *ngFor="let item of items">
      <p *ngIf="agregado">{{ item | currency }}</p>
      <input
        class="btn btn-outline-danger"
        type="submit"
        value="Quitar"
        (click)="quitar(item)"
      />
    </div>
    <input
      class="btn btn-dark"
      type="submit"
      value="Agregar al carrito"
      (click)="agregarAlCarrito()"
    />
    <input
      class="btn btn-light"
      type="submit"
      value="Pagar MP"
      (click)="pagar()"
    />
    <h3>Total a pagar:</h3>
    <h3>{{ total | currency }}</h3>
  </form>
</section>
