<section>
  <h3>Registro de Compra</h3>

  <form [formGroup]="carritoForm" action="" class="container">
    <label for="servChoice">Servicio: </label>
    <select formControlName="servChoice" id="servChoice" name="servChoice">
      <option
        *ngFor="let servicios of serv"
        value="{{ servicios.precio_kg_km }}"
      >
        {{ servicios.nombre_servicio }}
      </option>
    </select>
    <br /><br />
    <label for="sucursalInicio">Sucursal de Inicio:</label>
    <select
      formControlName="sucursalInicio"
      id="sucursalInicio"
      name="sucursalInicio"
    >
      <option *ngFor="let ciudad of sucursales" value="{{ ciudad.id }}">
        Sucursal {{ ciudad.nombre }}
      </option>
    </select>
    <br /><br />
    <label for="sucursalFinal">Sucursal de Destino:</label>
    <select
      formControlName="sucursalFinal"
      id="sucursalFinal"
      name="sucursalFinal"
    >
      <option *ngFor="let ciudad of sucursales" value="{{ ciudad.id }}">
        Sucursal {{ ciudad.nombre }}
      </option>
    </select>
    <br /><br />
    <div class="d-flex justify-content-between" *ngFor="let item of items">
      <p *ngIf="agregado">{{ item | currency }}</p>
      <button class="btn btn-outline-danger mb-2" (click)="quitar(item)">
        <i class="fa fa-trash"></i>
      </button>
    </div>
    <input
      class="btn btn-dark"
      type="submit"
      value="Agregar al carrito"
      (click)="agregarAlCarrito()"
    />
  
<!-- 
     <button
      class="btn btn-light"
      type="submit"
      
      (click)="pagar()">Pagar
      <i class="fa-brands fa-paypal"></i></button>
      -->
    
    
    
    <h3 class="mt-3">Total a pagar:</h3>
    <h3>{{ total | currency }}</h3>
    <ngx-paypal [config]="payPalConfig" (click)="pagar()"></ngx-paypal>
  </form>
</section>
