<section class="inicio">
  <form action="" id="form">
    <h1>Iniciar sesión</h1>
    <div class="inputs">
      <input
        type="text"
        placeholder="usuario"
        id="usuario"
        name="usuario"
      /><br />
      <span class="errorUsuario" id="errorUsuario"></span>
      <input
        type="password"
        placeholder="contraseña"
        name="password"
        id="password"
      /><br />
      <span class="errorPassword" id="errorPassword"></span>
    </div>
    <div class="recordar">
      <input id="checkboxx" title="checkbox" type="checkbox" />
      <span> Recordame</span>
    </div>

    <div class="botones">
      <button class="botonNegro" type="submit">Ingresar</button>
      <button class="botonNegro" type="submit">Registrarse</button>
    </div>

    <span class="errorGeneral" id="errorGeneral"></span>
    <span class="success" id="success"></span>
  </form>
</section>
