<section class="inicio">
  <h1>Iniciar sesión</h1>

  <form action="" id="form">
    <input
      type="text"
      placeholder="usuario"
      id="usuario"
      name="usuario"
    /><br />
    <span class="errorUsuario" id="errorUsuario"></span>
    <input
      type="password"
      placeholder="contraseña"
      name="password"
      id="password"
    /><br />
    <span class="errorPassword" id="errorPassword"></span>

    <div class="container">
      <input type="checkbox" id="recordarme" /><label for="recordarme"
        >recordarme</label
      >
    </div>

    <button class="ingresar" type="submit">Ingresar</button>
    <button class="registrarse" type="submit">
      <a href="registro">Registrarse</a>
    </button>

    <span class="errorGeneral" id="errorGeneral"></span>
    <span class="success" id="success"></span>
  </form>
</section>
