<section class="secCol3">
  <form action="#" method="post" [formGroup]="registroForm" (ngSubmit)="onRegistro($event)">
    <div>
      <label for="idUsuario">ID Usuario:</label>
      <input type="text" id="idUsuario" formControlName="idUsuario">
      <div *ngIf="registroForm.controls['idUsuario'].errors?.['required'] && registroForm.controls['idUsuario'].touched" class="error"class="text-danger">El ID de usuario es obligatorio.</div>
    </div>
  
    <div>
      <label for="usuario">Usuario:</label>
      <input type="text" id="usuario" formControlName="usuario">
      <div *ngIf="registroForm.controls['usuario'].errors?.['required'] && registroForm.controls['usuario'].touched" class="error"class="text-danger">El usuario es obligatorio.</div>
      <div *ngIf="registroForm.controls['usuario'].errors?.['minlength'] && registroForm.controls['usuario'].touched" class="error"class="text-danger">El usuario debe tener al menos 2 caracteres.</div>
      <div *ngIf="registroForm.controls['usuario'].errors?.['maxlength'] && registroForm.controls['usuario'].touched" class="error"class="text-danger">El usuario no puede tener más de 50 caracteres.</div>
    </div>
  
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email">
      <div *ngIf="registroForm.controls['email'].errors?.['required'] && registroForm.controls['email'].touched" class="error"class="text-danger">El email es obligatorio.</div>
      <div *ngIf="registroForm.controls['email'].errors?.['email'] && registroForm.controls['email'].touched" class="error"class="text-danger">El email no es válido.</div>
    </div>
  
    <div>
      <label for="contrasena">Contraseña:</label>
      <input type="password" id="contrasena" formControlName="contrasena">
      <div *ngIf="registroForm.controls['contrasena'].errors?.['required'] && registroForm.controls['contrasena'].touched" class="error"class="text-danger">La contraseña es obligatoria.</div>
      <div *ngIf="registroForm.controls['contrasena'].errors?.['minlength'] && registroForm.controls['contrasena'].touched" class="error"class="text-danger">La contraseña debe tener al menos 6 caracteres.</div>
      <div *ngIf="registroForm.controls['contrasena'].errors?.['pattern'] && registroForm.controls['contrasena'].touched" class="error"class="text-danger">La contraseña debe contener al menos una letra minúscula, una letra mayúscula y un número.</div>
    </div>
  
    <div>
      <label for="confirmContrasena">Confirmar Contraseña:</label>
      <input type="password" id="confirmContrasena" formControlName="confirmContrasena">
      <div *ngIf="registroForm.controls['confirmContrasena'].errors?.['required'] && registroForm.controls['confirmContrasena'].touched" class="error"class="text-danger">La confirmación de contraseña es obligatoria.</div>
      <div *ngIf="registroForm.controls['confirmContrasena'].errors?.['mustMatch'] && registroForm.controls['confirmContrasena'].touched" class="error" class="text-danger">Las contraseñas no coinciden.</div>
    </div>
  
    <input type="submit" value="Registrarse"/>
    <button class="botonIngresar" type="submit">
      <a href="iniciosesion">Ya tengo cuenta</a></button
    ><br />
  </form>
  
</section>
<script src="./Javascript/formulario-registroleonel.js"></script>
