<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
/>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
  crossorigin="anonymous"
/>
<section class="secCol3">
  <form action="" method="POST" id="form">
    <input
      type="text"
      placeholder="ID usuario"
      name="ID usuario"
      id="ID usuario"
      required
    />
    <br />
    <input
      type="text"
      placeholder="usuario"
      name="usuario"
      id="usuario"
      required
    />
    <br />
    <input type="email" placeholder="mail" name="mail" id="mail" required />
    <br />
    <input
      type="password"
      placeholder="contraseña"
      name="password"
      id="password"
      required
    />
    <br />
    <input
      type="password"
      placeholder="repetir contraseña"
      name="repetir contraseña"
      id="repetir contraseña"
      required
    /><br />
    <button type="submit">Registrarme</button><br />
    <button class="botonIngresar" type="submit">Ya tengo cuenta</button><br />
  </form>
</section>
<script src="./Javascript/formulario-registroleonel.js"></script>
