<section>
  <form action="#" method="post" [formGroup]="form" (ngSubmit)="onEnviar($event)">
    <h3>Seguimiento</h3>

    <label for="num_seguimiento">Numero de seguimeinto:</label>
    <input type="text" id="num_seguimiento" name="num_seguimiento" formControlName="num_seguimiento" />
    <div *ngIf="Numero_Seguimiento?.errors && Numero_Seguimiento?.touched">
      <p *ngIf="Numero_Seguimiento?.hasError('required')" class="text-danger">
        Numero de seguimiento requerido</p></div>

    <input type="submit" value="Buscar" />
  </form>
</section>